*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root {
    --bg-color: #f0f0f0;
    --text-color: #333333;
    --main-padding: 10px;
  }
  
body{
    min-height: 100vh;
    /* background: var(--bg-color); */
    /* color: var(--text-color); */
    background: black;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 20%;
    transition: all .50s ease;
}
.logo{
    display: flex;
    align-items: center;
}
.logo i{
    color: rgb(5, 252, 17);
    font-size: 28px;
    margin-right: 3px;
}
.logo span{
    color: whitesmoke;
    font-size: 1.7rem;
    font-weight: 600;
}
.navbar{
    display:flex ;
    justify-content: space-between;
}
.navbar a{
    color:rgb(243, 248, 243) ;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease ;
}
.navbar a:hover{
    color: rgb(6, 248, 6);
}
.navbar a.active{
color: rgb(28, 249, 12);
}
.main{
    display: flex;
    align-items: center;
    color: #fff;
    /* justify-content: space-between; */
}
.main a{
    margin-right: 25px;
    margin-left: 10px;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}
.user{
    display: flex;
    align-items: center;
    
}
.user i{
    color:rgb(28, 249, 12);
}
.main a:hover{
    color:rgb(28, 249, 12);
}
#menu-icon{
    color: white;
    font-size: 35px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
@media(max-width:1280px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0px 20px;
    }  
}
@media(max-width:1090px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right:-100%;
        width: 270px;
        height: 29vh;
        background: rgb(4, 241, 32);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }
    .navbar a:hover{
        color: #fff;
        transform: translateY(5px);
    }
    .navbar a.active{
        color: #fff;
    }
    .navbar .open{
        right:2%;
    }
}